.historical-province-container {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  overflow: scroll;

  margin-bottom: 4rem;
}

.historical-province-container__provinces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 25rem;
  padding: 2rem;
  margin: 1rem;
}

.province-container__provinces__data {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: rgb(230, 149, 0);
}

.province-container__provinces__totale-casi {
  font-size: 1.8rem;
  font-weight: 400;
}

.province-container__provinces__increment {
  font-size: 1.4rem;
}
