.table-container {
  flex: 1;
  height: 100%;

  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0px);
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  will-change: scroll-position;

  background-color: rgb(245, 245, 255);
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  width: fit-content;

  animation: fade-in 1s;

  font-weight: 400;
  background-color: rgb(245, 245, 255);
}

.table__row-header > th {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(245, 245, 255);
  position: sticky;
  top: -0.1rem;
}

.table__th {
  width: 13rem;
  text-align: right;
  color: black;
  cursor: pointer;
  vertical-align: bottom;
  padding: 0.5rem 1rem 0.3rem 1rem;
}

.th-main__div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 5rem;
}

.th__div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 5rem;
}

.th-span {
  flex: 0 0 75%;
}

.main-span {
  flex: 0 0 35%;
}

.table__th-rank {
  width: 4rem;
  text-align: left;
  padding: 0.3rem 0.5rem;
  color: black;
  vertical-align: bottom;
}

.table__th-main {
  z-index: 10;
  position: sticky;
  left: 0;
  width: 20rem;
  text-align: left;
  cursor: pointer;
  vertical-align: bottom;
  padding: 0.5rem 1rem 0.3rem 1rem;
}

.table__th-date {
  z-index: 10;
  position: sticky;
  left: 0;

  width: 13rem;
  text-align: left;
  /* cursor: pointer; */
  vertical-align: bottom;
  padding: 0.5rem 1rem 0.3rem 1rem;
}

.sort-icon {
  height: 1.5rem;
  flex: 0 0 1.5rem;
  align-self: flex-start;
  cursor: pointer;
  fill: rgb(201, 201, 201);
  margin-top: 1rem;
}

.sorting-value {
  fill: var(--color-primary);
}

/* ROWS */
.table__row {
  height: 60px;
  border-bottom: 0.5px solid rgba(100, 100, 100, 0.1);
  font-size: 1.6rem;
  background-color: rgb(245, 245, 255);
}

.table__row > td {
  background-color: rgb(245, 245, 255);
}

.table__row__cell {
  text-align: right;
  padding: 0 1rem;
}

.table__row__cell-rank {
  text-align: left;
  padding: 0 0.5rem;
  background-color: rgb(245, 245, 255);
}

.table__row__cell-region {
  background-color: rgb(245, 245, 255);
  text-align: left;
  position: sticky;
  left: 0;
  padding: 0 1rem;
}

.region-link {
  color: rgb(80, 80, 80);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}

.table__row__cell-date {
  background-color: rgb(245, 245, 255);
  text-transform: uppercase;

  text-align: left;
  position: sticky;
  left: 0;
  transition: all 0.2s;
  padding: 0 1rem;

  color: rgb(80, 80, 80);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.table-red {
  color: red;
}

.table-green {
  color: green;
}

@media only screen and (max-width: 676px) {
  .table__th {
    width: 100px;
  }

  .table__th-main {
    width: 120px;
  }
}
