.content {
  flex: 1;

  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  /* border: 3px solid purple; */
}

@media only screen and (max-width: 676px) {
  .content {
    padding: 2rem 1rem;
  }
}

/* @media only screen and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    max-width: 86%;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .content {
    max-width: 100%;
    padding: 1rem;
  }
} */
