.main-container {
  min-height: 100vh;
  width: 100vw;

  display: flex;

  /* border: 3px solid red; */
}

/* MEDIA QUERIES */

@media only screen and (max-width: 676px) {
  .main-container {
    /* flex-direction: column; */
  }
}

/* iphone X , XS, 11 Pro */
/* @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .main-container {
    flex-direction: column;
  }
} */
