:root {
  --color-primary: rgb(60, 60, 60);

  --color-menu: rgb(240, 240, 255);
  --backgroundcolor-menu: rgb(30, 30, 30);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: rgb(240, 240, 255);

  min-height: 100vh;
}

/* MEDIA QUERIES */

/* iPad Pro 11″ */
@media only screen and (min-device-width: 834px) and (max-device-width: 1194px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 676px) {
  html {
    font-size: 55%;
  }
}
