:root {
  --color-primary: rgb(60, 60, 60);

  --color-menu: rgb(235, 235, 235);
  --backgroundcolor-menu: rgb(45, 45, 45);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-image: linear-gradient(
    to right top,
    #d6d6d6,
    #dadada,
    #dedede,
    #e3e3e3,
    #e7e7e7
  );

  min-height: 100vh;
}

/* MEDIA QUERIES */

/* iPad Pro 11″ */
@media only screen and (min-device-width: 834px) and (max-device-width: 1194px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 60%;
  }
}
